body {
   font-family: Verdana;
   background-image: url(images/back.png);
   background-size: cover;
   color: white;
   padding-left: 20px;
}

p {
   max-width: 600px;
}

h2 {
   background-image: linear-gradient(to top, rgb(180, 43, 43), rgb(77, 24, 24));
   max-width: 600px;
   font-size: 25px;
   padding: 10px;
}