body {
   font-family: Verdana;
}

h1 {
   color: rgb(105, 5, 5);
   font-size: 30px;
}

h2 {
   font-weight: normal;
}

p {
   font-size: 20px;
   color: gray;
   max-width: 400px;
}

a {
   text-decoration: none;
   font-size: 20px;
   color: black;
}